* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-color: chocolate;
}
.display {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}
.wrapper {
  border-radius: 30px;
  width: 900px;
  padding: 50px;
  background-color: burlywood;
  border: 5px solid black;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.main {
  display: flex;
  justify-content: center;
  width: 100%;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card {
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  margin-top: 50px;
  width: 90%;
  background-color: chocolate;
  border: 4px solid black;
  transition: all 0.3s ease;
  &:hover {
    transform: translatey(-15px);
  }
}
.list {
  border-radius: 20px;

  font-size: 20px;

  padding-left: 20px;
  font-weight: 500;
  width: 350px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
}
.submit {
  border-radius: 23px;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
  transition: all 0.3s ease;
  &:hover {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
  }
}
.reset {
  border-radius: 23px;
  font-size: 18px;
  font-weight: 500;
  width: 100px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
  transition: all 0.3s ease;
  &:hover {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
  }
}

.block {
  border-radius: 20px;

  padding: 10px;
  margin-top: 50px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: chocolate;
  border: 4px solid black;
  transition: all 0.3s ease;
  &:hover {
    transform: translatey(-15px);
  }
}
#level {
  font-size: 18px;
  font-weight: 500;
  border-radius: 23px;

  width: 100px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
  transition: all 0.3s ease;
  &:hover {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
  }
}
.level {
  font-size: 18px;
  font-weight: 500;
  border-radius: 23px;
  text-align: center;
  width: 100px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
  transition: all 0.3s ease;
  &:hover {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
  }
}
.do {
  text-align: center;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 500;
  width: 350px;
  height: 60px;
  background-color: chocolate;
  color: white;
  border: none;
}
.clear {
  font-size: 18px;
  font-weight: 500;
  border-radius: 23px;

  width: 100px;
  height: 60px;
  background-color: burlywood;
  border: 3px solid black;
  transition: all 0.3s ease;
  &:hover {
    background-color: chocolate;
    border: 3px solid black;
    color: white;
  }
}

@media (max-width: 1000px) {
  .wrapper {
    padding: 20px;
    width: 98%;
  }
  .card {
    gap: 10px;
  }
  .list {
    width: 30%;
  }
  .submit {
    width: 20%;
  }
  .reset {
    width: 20%;
  }
  .clear {
    width: 20%;
  }
  #level{
    width: 20%;

  }
  .do {
    width: 30%;
  }
}
